<div class="container-fluid menu">
    <div class="container menu-content">
        <a href="#" id="btn-menu-close" class="btn btn-menu-close"><i class="fa fa-times" aria-hidden="true"></i></a>

        <h1>Menu</h1>

        <div class="progress-box">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 class="gray-lighter text-center">You have completed {{getGlobalProgress}}% of this course.</h2>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="progress-bar-menu"></div>
                </div>
            </div>
        </div>

        <div class="row">
            {{#each chapters}}
                <div class="col-sm-6 col-md-4 chapter-list">
                    <div class="thumbnail thumb-custom">
                        <img src="{{thumbnail}}" class="img-responsive" alt="{{{title}}}">

                        <div class="caption">
                            <div class="list-group section-list">
                                {{#each section}}
                                    <a href="#/chapter/{{../index}}/section/{{index}}" id="btn-menu-{{uid}}" class="list-group-item" role="button">
                                        <p><span class="small">{{add index 1}}.</span> {{{title}}}</p>
                                    </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="content-top-space logo-unbox text-center">
            <hr>
            <img src="imgs/logo_unbox_gray.svg" alt="Unbox" title="Unbox Learning Experience" data-target="" class=""/>
        </div>

    </div>
</div>
