<div class="container-fluid dashboard">
    <a href="#" id="btn-menu-close" class="btn btn-menu-close">×</a>

    <div class="container dashboard-content">

        <h3 class="text-center">Você já completou <strong>{{globalProgress}}%</strong> do treinamento.</h3>

        <div id="progress-bar-menu"></div>

        <div class="row">

            {{#each chapters}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumb-custom">
                    <img src="{{thumbnail}}" class="img-responsive" alt="{{title}}">

                        <div class="caption">
                            <h3>{{title}}</h3>
                            <ul class="list-group section-list">
                                {{#each section}}
                                    <li class="list-group-item">{{title}}
                                        <a href="#/chapter/{{../index}}/section/{{index}}" id="btn-menu-{{uid}}" class="btn btn-primary btn-xs pull-right" role="button">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
</div>
