<div class="bar-wrap">
    <div class="progress">
        {{#each chapterProgress}}
            <div class="progress-bar progress-bar-chapter{{@index}}"
                 style="width: {{local}}%"
                 data-html="true" data-toggle="tooltip"
                 title="<strong>{{title}}</strong><br>Progresso:{{user}}%">

                {{#unless @last}}
                    <div style="left:{{globalTotal}}%" class="progress-marker"></div>
                {{/unless}}

                <span class="sr-only">{{title}} Progresso:{{user}}%</span>
            </div>
        {{/each}}
    </div>
</div>
